<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Log in</title>
        <link rel="stylesheet" type="text/css" href="spartan.css" />
    </head>
    <body onload="document.login.user_name.focus()">
        <TMPL_INCLUDE NAME="toolbar.tmpl">
        <div id="content">

            <table width="100%" cellspacing="0" class="login">
                <tr>
                    <td width="50%"
                        valign="top"
                        class="left">
                        <h2 style="margin-left:45px">Log In</h2>
                        <form method="POST" name="login">
                            <input type="hidden" name="action" value="log_in" />

                            <table width="100%" style="margin-top: 20px">
                                <tr>
                                    <td align="right" style="text-align: right">
                                        <label for="email"> Username: </label>
                                    </td>
                                    <td>
                                        <input type="text"
                                               size="30"
                                               id="user_name"
                                               name="user_name"
                                               value=""
                                               style="width: 150px">
                                    </td>
                                </tr>
                                <tr>
                                    <td align=right style="text-align: right">
                                        <label for="password"> Password: </label>
                                    </td>
                                    <td>
                                        <input type="password"
                                               size="30"
                                               id="password"
                                               name="password"
                                               style="width: 150px">
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td style="padding-left: 6px;">
                                        <input type="checkbox"
                                               name="keepalive"
                                               id="keeplive"
                                               value="1"
                                               checked="checked">
                                        <label for="keeplive">Remember me</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td style="line-height: 21px; padding-left: 6px">
                                        <div class="forgotPassword">
                                            <a href="#"
                                               style="font-size: 10px; line-height: 21px;"
                                               tabindex="50">Forgot password?</a>
                                        </div>
                                        <input type="submit"
                                               class="loginButton"
                                               value="Log in">
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </td>
                    <td width="50%"
                        valign="top"
                        style="vertical-align: top"
                        class="right">

                        <h2>Don't have an account?</h2>
                        <p>Registering a free account takes only a few seconds,
                           and has many benefits.</p>
                        <a class="button createAccountButton"
                           href="#"
                           style="width: 190px; text-align:center"><span>Sign up
                           now</span></a>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
